.signup{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    height:90vh;
    margin-block:auto;
    align-items: center;
    justify-content: center;
    
    .signup-box{
        border: 2px solid black;
        width:30vw;
        padding:2rem;
        height: 76vh;
        border-radius: 23px;
        
    }
    .heading{
        text-align: center;
    }
    
    label,input{
        display: block;
        width: 100%;
        margin-block:1.3rem;
        font-weight: bold;
        font-size: 1rem;
        border-radius: 9px;

    }
    input{
        padding:0.4rem
    }
    button{
        padding:0.5rem;
        background-color:rgb(217, 0, 255);
        width: 100%;
        margin-top:1rem;
        text-align: center;
        font-weight: bold;
        font-size: 1rem;
        color: aliceblue;
        border-radius: 10px;
    }
    button:hover{
        background-color:rgba(28, 38, 55, 0.81);

    }
    .signUp{
        margin-top: 0.6rem;
    }



}