.feed{
    .container{
        display: flex;
        gap:0.3em;
    }
    .left-side{
        flex:2;
        // background-color: rebeccapurple;
        height:80vh;
    }
    .right-side{
        flex:1;
        background-color: khaki;
    }
}