.Post{
    border: 1px solid var(--border-color);
    margin-top: 0.4em;
    border-radius: 5px;
    .heading{
        display:flex;
        gap:2em;
        align-items: center;
        height:2.6em;
        padding:1em;
    }
    .content{
        height:54vh;
        img{
            width: 100%;
        }
    }
    .footer{
        padding: 0.2em;
        .like{
            display:flex;
            gap:0.4em;
            align-items: center;
            .icon{
                font-size:1.2em;
            }
        }
        .caption{
            margin-top: 1em;
        }
        .time-ago{

            margin-top: 1em;
            
        }
    }
}