.UpdateProfile{
    margin-top: 2em;
    .container{
        display:flex;
    }
    .left-side{
        flex:1;
        text-align: center;
        img{
            width:6em;
            height:6em;
            border-radius: 50%;
        }
           

    }
    .right-side{
        flex:2;
        form{
            width:100%;
        }
      
        input{
            display: block;
            margin-block:0.7em;
            padding:0.5em;  
            width: 80%; 
            border-radius:5px;
        }
        button{
            padding:0.6em;
        }
        .delete-account{
            margin-top: 2em;
            background-color: red;
            padding:1em;

        }
        

    }
}